:root{
    background-color: rgb(224, 209, 209);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding:0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: rgba(107, 104, 104, 0.479);
    height: 100px;

    
}
.sitename{
    font-size: 35px;
    text-align: center;
    background-color: rgba(216, 171, 58, 0.582);
}
table, td, tr, th{
    border:1px solid black;
    width: auto;
    margin: 5px;
    padding: 20px;
   
}
.idtabela{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#form-adiciona{
    
    justify-content: center;
}
.grupo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#adicionar-paciente{
    margin-bottom: 10px;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid #000;
    border-radius: 5px;
   
}
.paciente-invalido{
    background-color: lightcoral;
}
.fadeOut{
    opacity: 0;
    transition: 1s;
}

#filtrar-tabela{
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}
.invisivel{
    display: none;
}
.botao-bto-principal{
    border-color: blue;
    background-color: burlywood;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.inserir{
    display: flex;
    justify-content: center;
    text-align: center;
   margin-bottom: 10px;
    box-shadow: 10px 10px 15px black;
    background-color: rgba(231, 237, 238, 0.658);
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgb(214, 247, 214);  
}
#adicionar-paciente{
    text-align: center;
    font-size: 20px;
}
.campo{
    height: 30px;
    width: auto;
}